<div class="section-container">
    <app-page-head [breadcrumbs]="[ { name: 'Página Inicial', route: ['/'] }, { name: 'Eventos' } ]">
        <h1 class="!font-['Unigeo'] font-semibold text-3xl leading-[120%] tracking-[0%]">
            Acompanhe todos os eventos que temos para si
        </h1>
    </app-page-head>
    <app-search [categories]="categories()" [locations]="locations()" />
    <app-events-displayer
        [isLoading]="this.isLoadingEvents()"
        [limit]="limit()"
        [paginated]="true"
        (loadMoreEventsEmmiter)="this.loadMoreEvents()"
        [button]="{ visible: this.hasLoadMoreButtonAppear(), label: 'Carregar mais eventos', route: [] }"
        [events]="events()">
        <div class="section-header flex flex-col gap-[50px]" ngProjectAs="section-header">
            <div class="content flex flex-col gap-12">
                <div class="title text-center flex flex-col items-center gap-2">
                    <h6 class="text-base xl:text-xl !font-['Montserrat']">
                        Eventos
                    </h6>
                    <h1 class="font-semibold text-2xl xl:max-w-[550px] xl:text-4xl !font-['Unigeo']">
                        Garanta já o seu lugar no evento que mais combina com você!
                    </h1>
                </div>
            </div>
            <div class="events-categories">
                <div class="categories flex flex-wrap gap-2 justify-center items-center">
                    @for (category of categories(); track $index) {
                        <div class="category">
                            <a
                            [ngClass]="{
                                '!border-(color:--primary) !text-(color:--primary)': this.selectedCategory() && (this.selectedCategory() == category.slug)
                            }"
                            [routerLink]="['/events/category/' + category.slug]"
                            class=" text-sm !font-['Montserrat'] block w-fit px-7 py-3 border-[0.5px] rounded-full duration-[.6s] border-[#020B26] text-[#020B26] hover:border-(color:--primary) hover:text-(color:--primary)">
                                {{ category.name }}
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </app-events-displayer>
</div>