<div class="section-container relative bg-[url('/assets/images/home/foot.png')] bg-no-repeat bg-cover bg-center h-[420px]">
    <div class="overlay absolute top-0 left-0 w-full h-full z-[1] bg-linear-[90deg,rgba(242,5,48,0.8)_0%,rgba(2,11,38,0.8)_100%]"></div>
    <div class="content py-12 z-[2] relative">
        <div class="limited-container flex flex-col gap-6 text-white">
            <div class="main-content w-full flex flex-col gap-3 text-white lg:max-w-[509px]">
                <h1 class=" !font-[Unigeo] font-semibold text-[45px] xl:text-6xl leading-[120%]">
                    Publique o seu evento connosco 
                </h1>
                <p class=" text-xl leading-[120%] text-[#F2F2F2]">
                    Melhoramos e asseguramos a experiência de compra e vendas de ingressos. A MainStream é uma plataforma projetada para potencializar a gestão dos eventos corporativos
                </p>
            </div>
            <div class="know-more">
                <button routerLink="/about-us" type="submit" class="text-(color:--secondary) w-full xl:w-fit cursor-pointer font-medium rounded-lg !font-['Montserrat'] text-sm px-7 py-6 bg-[#FFECF0]/60">
                    Saiba mais
                </button>
            </div>
        </div>
    </div>
</div>