<header class="header-container shadow-[0px_24px_40px_0px_rgba(0,0,0,0.03)] py-3">
    <div class="content limited-container flex justify-between items-center">
        <div class="logo">
            <a [routerLink]="['/']">
                <img src="/assets/static/logo.svg" alt="">
            </a>
        </div>
        <div class="navigation hidden xl:flex xl:justify-between xl:items-center">
            <ul class=" flex gap-8 items-center">
                <li>
                    <a [routerLink]="['/']" [routerLinkActive]="'text-(color:--primary)'" [routerLinkActiveOptions]="{ exact: true }" class="text-base duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/about-us']" [routerLinkActive]="'text-(color:--primary)'" class="text-base duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Sobre Nós</a>
                </li>
                <li>
                    <a [routerLink]="['/events']" [routerLinkActive]="'text-(color:--primary)'" class="text-base duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Eventos</a>
                </li>
                <li>
                    <a [routerLink]="['/lives/access']" class="text-base bg-(color:--primary) text-white py-2 px-3 rounded-full duration-[.2s] flex justify-center items-center gap-2 font-medium -tracking-[2%] !font-['Montserrat']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-video"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z" /><path d="M3 6m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /></svg>
                        Assista à Live</a>
                </li>
                <li>
                    <a [routerLink]="['/faq']" [routerLinkActive]="'text-(color:--primary)'" class="text-base duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">FAQ</a>
                </li>
                <li>
                    <a [routerLink]="['/create-account']" [routerLinkActive]="'text-(color:--primary)'" class="text-base duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Vender Tickets</a>
                </li>
                <li>
                    <a [routerLink]="['/contact-us']" [routerLinkActive]="'text-(color:--primary)'" class="text-base duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Contacto</a>
                </li>
            </ul>
        </div>
        <div class="cta hidden xl:block">
            <a [href]="this.backoffice + '/auth'" class="flex gap-3 justify-start items-center !font-['Montserrat'] font-medium text-base">
                <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_669_263)">
                    <circle cx="15" cy="15" r="15" fill="#FFECF0"/>
                    <path d="M8.8238 21.928C8.8078 21.928 8.8078 21.928 8.7918 21.928C8.5838 21.912 8.4398 21.736 8.4558 21.544C8.6638 18.488 11.5438 16.104 14.9998 16.104C18.4558 16.104 21.3358 18.488 21.5438 21.528C21.5598 21.736 21.3998 21.896 21.2078 21.912C20.9998 21.928 20.8398 21.768 20.8238 21.576C20.6318 18.904 18.0718 16.824 14.9998 16.824C11.9118 16.824 9.3518 18.92 9.1758 21.592C9.1598 21.784 8.9998 21.928 8.8238 21.928Z" fill="#F20530"/>
                    <path d="M14.9996 15.368C12.9836 15.368 11.3516 13.736 11.3516 11.72C11.3516 9.70402 12.9836 8.07202 14.9996 8.07202C17.0156 8.07202 18.6476 9.70402 18.6476 11.72C18.6476 13.736 17.0156 15.368 14.9996 15.368ZM14.9996 8.80802C13.3996 8.80802 12.0876 10.12 12.0876 11.72C12.0876 13.32 13.3996 14.632 14.9996 14.632C16.5996 14.632 17.9116 13.32 17.9116 11.72C17.9116 10.12 16.5996 8.80802 14.9996 8.80802Z" fill="#F20530"/>
                    </g>
                    <defs>
                    <clipPath id="clip0_669_263">
                    <rect width="30" height="30" fill="white"/>
                    </clipPath>
                    </defs>
                </svg>
                Acessar conta
            </a>
        </div>

        <div class="menu-invoker xl:hidden h-[38px]">
            @if (!this.isMobileMenuExtended()) {
                <button class="open" (click)="openMobileMenu()">
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="19" cy="19" r="18.5" stroke="#FFC4C4"/>
                        <line x1="7.5" y1="13.5" x2="30.5" y2="13.5" stroke="#020B26" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="7.5" y1="19" x2="30.5" y2="19" stroke="#020B26" stroke-linecap="round" stroke-linejoin="round"/>
                        <line x1="7.5" y1="24.5" x2="30.5" y2="24.5" stroke="#020B26" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            } @else {
                <button class="close" (click)="closeMobileMenu()">
                    <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <circle cx="19" cy="19" r="18.5" fill="white" fill-opacity="0.3" stroke="#FFC4C4"/>
                        <path d="M24.3557 12.5332L12.5334 24.3554" stroke="#F20530" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M12.5334 12.5332L24.3557 24.3554" stroke="#F20530" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </button>
            }
        </div>
    </div>
</header>
<div
[ngClass]="{
    '!h-0': !this.isMobileMenuExtended(),
    '!h-[100dvh]': this.isMobileMenuExtended(),
}"
class="mobile-dropdown duration-[.4s] overflow-hidden"
appBodyHeightLimiter
[hasBodyToLimit]="this.isMobileMenuExtended()"
>
    <div class="limited-container">
        <div class="mobile-navigation flex flex-col xl:hidden">
            <ul class=" my-7 flex flex-col gap-8 justify-center items-start">
                <li>
                    <a [routerLink]="['']" (click)="closeMobileMenu()" [routerLinkActive]="'text-(color:--primary)'" [routerLinkActiveOptions]="{ exact: true }" class="text-xl duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Home</a>
                </li>
                <li>
                    <a [routerLink]="['/about-us']" (click)="closeMobileMenu()" [routerLinkActive]="'text-(color:--primary)'" class="text-xl duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Sobre Nós</a>
                </li>
                <li>
                    <a [routerLink]="['/events']" (click)="closeMobileMenu()" [routerLinkActive]="'text-(color:--primary)'" class="text-xl duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Eventos</a>
                </li>
                <li>
                    <a [routerLink]="['/faq']" (click)="closeMobileMenu()" [routerLinkActive]="'text-(color:--primary)'" class="text-xl duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">FAQ</a>
                </li>
                <li>
                    <a [routerLink]="['/create-account']" (click)="closeMobileMenu()" [routerLinkActive]="'text-(color:--primary)'" class="text-xl duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Vender Tickets</a>
                </li>
                <li>
                    <a [routerLink]="['/contact-us']" (click)="closeMobileMenu()" [routerLinkActive]="'text-(color:--primary)'" class="text-xl duration-[.2s] font-medium -tracking-[2%] !font-['Montserrat']">Contacto</a>
                </li>

                <li class="w-full">
                    <a [routerLink]="['/lives/access']" class="text-base bg-(color:--primary) w-full text-white py-2 px-3 rounded-full duration-[.2s] flex justify-center items-center gap-2 font-medium -tracking-[2%] !font-['Montserrat']">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-video"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M15 10l4.553 -2.276a1 1 0 0 1 1.447 .894v6.764a1 1 0 0 1 -1.447 .894l-4.553 -2.276v-4z" /><path d="M3 6m0 2a2 2 0 0 1 2 -2h8a2 2 0 0 1 2 2v8a2 2 0 0 1 -2 2h-8a2 2 0 0 1 -2 -2z" /></svg>
                        Assista à Live</a>
                </li>
            </ul>
        </div>
    </div>
</div>