<div class="header-component sticky z-[100] top-0 bg-white">
    <app-header />
</div>
<div class="content-wrapper">
    <router-outlet />
</div>

<div class="footer-component">
    <app-footer />
</div>

<div class="logs-container fixed z-[4200] w-full max-w-[90%] md:max-w-[350px] flex flex-col gap-y-2 right-[50%] translate-x-[50%] lg:right-10 lg:translate-x-0 top-24">
    @for (log of this.log.logs$(); track log.identifier) {
        <div
        [ngClass]="{
            'appear-softly-from-top': log.visible,
            'disappear-softly-from-bottom display-none-delayed': !log.visible,
            'bg-[#DD2C2C]': log.status === this.popupStatus.ERROR,
            'bg-[#43A747]': log.status === this.popupStatus.SUCCESS,
            'bg-[#4383A7]': log.status === this.popupStatus.INFO,
            'bg-[#626262]': log.status === this.popupStatus.DEFAULT,
        }"
        class="log-panel px-4 py-5 rounded-lg duration-[1s] text-base text-left bg-[#DD2C2C] text-white">
            <p class="">
                {{ log.message }}
            </p>
        </div>
    }
</div>