@import "tailwindcss";

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Light-300.ttf');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Regular-400.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Medium-500.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-SemiBold-600.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Bold-700.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-ExtraBold-800.ttf');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Black-900.ttf');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Inter';
    src: url('/assets/fonts/inter/Inter-Black-900.ttf');
    font-weight: 900;
    font-display: swap;
}

@font-face {
    font-family: 'Unigeo';
    src: url('/assets/fonts/unigeo/unigeo64-light-300.ttf');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Unigeo';
    src: url('/assets/fonts/unigeo/unigeo64-regular-400.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Unigeo';
    src: url('/assets/fonts/unigeo/unigeo64-medium-500.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Unigeo';
    src: url('/assets/fonts/unigeo/unigeo64-semibold-600.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Unigeo';
    src: url('/assets/fonts/unigeo/unigeo64-bold-700.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Unigeo';
    src: url('/assets/fonts/unigeo/unigeo64-extrabold-800.ttf');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-light-300.ttf');
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-regular-400.ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-medium-500.ttf');
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-semibold-600.ttf');
    font-weight: 600;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-bold-700.ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-extrabold-800.ttf');
    font-weight: 800;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('/assets/fonts/montserrat/montserrat-black-900.ttf');
    font-weight: 900;
    font-display: swap;
}

@theme{
    --primary: #F20530;
    --secondary:  rgba(2, 11, 38, 1);
    --breakpoint-xl-1230: 1230px;
    --breakpoint-md-905: 905px;
    --breakpoint-xl-1230: 1230px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1440px;
    --breakpoint-3xl: 1536px;
    --breakpoint-4xl: 1600px;
    --breakpoint-5xl: 1900px;
    --breakpoint-xl-1920: 1920px;
    --breakpoint-6xl: 2050px;
}

:root{
    --max-w: 90%;
    --max-w-1536: 1536px;
}

*{
    font-family: 'Inter';
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    -webkit-tap-highlight-color: transparent;
}

input.is-invalid,
textarea.is-invalid{
    border-color: red;
}

.limited-container{
    max-width: 95%;
    margin: 0px auto;
}

/* xl */
@media screen and (min-width: 1280px) {
    .limited-container{
        max-width: 90%;
    }
}
/* 2xl */
@media screen and (min-width: 1440px) {
    .limited-container{
        /* max-width: var(--max-w); */
        max-width: 85%;
    }
}
/* 4xl */
@media screen and (min-width: 1600px) {
    .limited-container{
        max-width: 1173px;
    }
}
/* 5xl */
@media screen and (min-width: 1900px) {
  .limited-container{
      /* max-width: var(--max-w-1536); */
      /* max-width: 1920px; */
      /* max-width: 90%; */
  }
}

.overflow-x-auto::-webkit-scrollbar,
.no-scrollbar::-webkit-scrollbar
{
    display: none;
}
.overflow-x-auto,
.no-scrollbar{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.appear-softly{
    animation: appearSoftly .5s forwards ease-in-out;
}

@keyframes appearSoftly {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.appear-softly-from-top{
  animation: appearSoftlyFromTop .3s forwards ease-in-out;
}

@keyframes appearSoftlyFromTop {
  0% {
      opacity: 0;
      translate: 0 -15px;
  }
  100% {
      opacity: 1;
      translate: 0 0px;
  }
}

.appear-softly-from-bottom{
  animation: appearSoftlyFromBottom .7s forwards ease-in-out;
}

@keyframes appearSoftlyFromBottom {
  0% {
      opacity: 0;
      translate: 0 20px;
  }
  100% {
      opacity: 1;
      translate: 0 0px;
  }
}

.disappear-softly-from-bottom {
  animation: disappearSoftlyFromBottom 0.3s ease-in-out forwards;
}

@keyframes disappearSoftlyFromBottom {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  90% {
    opacity: 0;
    transform: translateY(-15px);
  }
  100%{
    opacity: 0;
    display: none;
  }
}

@keyframes displayNone {
  to{
    display: none;
  }
}

.placeholder {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #ffecec 25%, #fddee3 50%, #ffecec 75%);
    background-size: 200% 100%;
    animation: placeholderAnimation 3s infinite linear;
}

@keyframes placeholderAnimation {
    0% {
      background-position: 200% 0;
    }
    100% {
      background-position: -200% 0;
    }
}